@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-primary: 255 115 179;
    --color-secondary: 111 114 185;

    --btn-background-default: 255 255 255;
    --btn-foreground-default: 0 0 0;

    --btn-background-hover: 230 230 230;
    --btn-foreground-hover: 0 0 0;

    --btn-background-today: 255 255 118;
    --btn-foreground-today: 0 0 0;

    --btn-background-active: 0 110 220;
    --btn-foreground-active: 255 255 255;

    --btn-background-disabled: 255 255 255;
    --btn-foreground-disabled: 117 117 117;
  }
}

button {
  cursor: pointer;
}
